<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/style.css">
    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body id="home">

<h1>{{title}}</h1>

<p>Hello</p>

{{ dump() }}

{% if media is defined and media is not false %}
    <h2>There something going on!</h2>

    {% for mediaElement in media %}
        {% if mediaElement.media_type is same as "IMAGE" %}
            <p>MEDIA!!!</p>
            <img src="{{ mediaElement.media_url }}" alt="{{ mediaElement.caption }}">
        {% endif %}
    {% endfor %}
{% endif %}

</body>
</html>